extends layout

block content
    //- search fields (pug handles undefined filters well)
    form.form(action="", method="get")
        div
            label(for="day") DAY
            input(type="text", id="day", name="day", value=lastFilters.day, title="Day with two digits (leading zero) - e.g. 12 or 05")
        div
            label(for="month") MONTH
            input(type="text", id="month", name="month", value=lastFilters.month, title="Month with three characters (case-insensitive) - e.g. aug")
        div
            label(for="time") TIME
            input(type="text", id="time", name="time", value=lastFilters.time, title="Time (hh / hh:mm / hh:mm:ss) - e.g. 12 or 12:13:14")
        div
            label(for="ip") IP
            input(type="text", id="ip", name="ip", value=lastFilters.ip, title="Ip address with numbers and dots (substring enabled) - e.g. 1.123.12")
        div
            label(for="url") URL
            input(type="text", id="url", name="url", value=lastFilters.url, title="Web address (substring enabled, case-insensitive) - e.g. www.google")
        div
            button.button(type="submit") SEARCH

    //- table with max 100 entries
    table
        thead
            tr
                th datetime
                th ip
                th.space-between 
                    span url
                    span count: #{count}
        tbody
            each entry in entries
                tr
                    td #{entry.day} #{entry.month} #{entry.time}
                    td #{entry.ip}
                    td #{entry.url}

    div.form-container
        if page > 1
            //- button for previous page (if any)
            form.form.form-small(action="", method="get")
                each val, key in lastFilters
                    input(type="hidden", name=key, value=val)
                input(type="hidden", name="page", value=page - 1)
                div.btn-container
                    button.button(type="submit") &lt;

        if pageCount > 1
            span.caps PAGE #{page} OF #{pageCount}

        if page < pageCount
            //- button for next page (if any)
            form.form.form-small(action="", method="get")
                each val, key in lastFilters
                    input(type="hidden", name=key, value=val)
                input(type="hidden", name="page", value=page + 1)
                div.btn-container
                    button.button(type="submit") &gt;

    if pageCount > 1
        //- number field and button - go to any page
        form.form.form-small(action="", method="get")
            div.go-to-page
                each val, key in lastFilters
                    input(type="hidden", name=key, value=val)
                input(type="number", min=1, max=pageCount, step=1, name="page", value=pageCount, title="Choose a page number")
                button.button(type="submit") GO TO PAGE
