extends layout

block content
    //- pre= JSON.stringify(filters, null, 2)

    form(action="", method="get")
        div
            label(for="ip") IP
            input(type="text", id="ip", name="ip")
        div
            label(for="url") URL
            input(type="text", id="url", name="url")
        div
            label(for="month") MONTH
            input(type="text", id="month", name="month")
        div
            label(for="day") DAY
            input(type="text", id="day", name="day")
        div
            label(for="time") TIME
            input(type="text", id="time", name="time")
        div
            button(type="submit") SEARCH

    table
        thead
            tr
                th datetime
                th ip
                th.space-between 
                    span url
                    span count: #{count}
        tbody
            each entry in entries
                tr
                    td #{entry.day} #{entry.month} #{entry.time}
                    td #{entry.ip}
                    td #{entry.url}

    div.form-container
        if nextPage > 2
            form.form-small(action="", method="get")
                each val, key in lastFilters
                    input(type="hidden", name=key, value=val)
                input(type="hidden", name="page", value=nextPage - 2)
                div.btn-container
                    button(type="submit") &lt; PREVIOUS

        span PAGE #{nextPage - 1} OF #{pageCount}

        if hasMore
            form.form-small(action="", method="get")
                each val, key in lastFilters
                    input(type="hidden", name=key, value=val)
                input(type="hidden", name="page", value=nextPage)
                div.btn-container
                    button(type="submit") NEXT &gt;
